<template name="layout">
 
      <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
         <div class="container-fluid">
            <a class="navbar-brand" href="/">Uroquiz</a>
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
          <ul class="nav  navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/quiz">Quiz</a></li> 
            <li>{{loginButtons}}</li>
        </ul>
        </div>
      </nav>
    <div id="main" class="container-fluid">
      {{yield}}
    </div>
  
</template>
 