<template name="layout">
 <!-- Brand and toggle get grouped for better mobile display -->
      <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
         <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
      <a class="navbar-brand" href="/">Uroquiz</a>
      </div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{pathFor 'home'}}">Home</a></li>
        <li><a href="{{pathFor 'questList'}}">Quiz</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        {{ loginButtons }}
        </ul>
      </ul>
</div>
      </nav>
    <div id="main" class="container-fluid">
      {{yield}}
    </div>
  
</template>
