<template name="questItem">
  <div class="quest">
    <!--<div class="quest-content">-->
    <div class="panel panel-default">
    	<div class="panel-heading">
    	<h3 class="panel-title">{{Question}}</h3>
	  </div>
    <div class="panel-body">
          <div class="row"><div class="col-md-8" id="answer" value="A">A.   {{A}}</div></div>
          <div class="row"><div class="col-md-8" id="answer" value="B">B.   {{B}}</div></div>
          <div class="row"><div class="col-md-8" id="answer" value="C">C.   {{C}}</div></div>
          <div class="row"><div class="col-md-8" id="answer" value="D">D.   {{D}}</div></div>
          <div class="row"><div class="col-md-8" id="answer" value="E">E.   {{E}}</div></div>
      	
        {{#if imagePresent}}
          <p>There are images</p>
          {{/if}}
        {{> responseToAnswer}}
      	<!--<p>
      	Answer:
      	</p>
		  <div class="btn-group">
			  <button type="button" class="btn btn-default">A</button>
			  <button type="button" class="btn btn-default">B</button>
			  <button type="button" class="btn btn-default">C</button>
			  <button type="button" class="btn btn-default">D</button>
			  <button type="button" class="btn btn-default">E</button>
		</div>-->
	</div>
      	<!--<div class="input-group">
		 <span class="btn-group-vertical">
			 <button type="button" class="btn btn-default btn-block">A. {{A}}</button>
			 <button type="button" class="btn btn-default btn-block">B. {{B}}</button>
			 <button type="button" class="btn btn-default btn-block">C. {{C}}</button>
			 <button type="button" class="btn btn-default btn-block">D. {{D}}</button>
			 <button type="button" class="btn btn-default btn-block">E. {{E}}</button>
		</span>
	</div>-->
    </div>
  </div>
</template>